Repository NangoHQ/nango, pull requests merged in 2024-02, with the labels that each got.

#1605 Khaliq/nan 312 projectdiscovery webhook problem
  packages/shared/lib/services/notification/webhook.service.ts
Labels: service: server

#1601 [nan-306] log update
  packages/shared/lib/sdk/sync.ts
  packages/shared/lib/utils/utils.ts
  packages/webapp/src/pages/Activity.tsx
Labels: service:runner

#1645 remove db env vars for new runner
  packages/jobs/lib/runner/render.runner.ts
Labels: service:jobs

#1644 [nan-354] remove sync return warning and don't return error on return but rather warn the user
  packages/cli/lib/services/parser.service.ts
  packages/cli/lib/sync.unit.test.ts
  packages/shared/lib/services/sync/run.service.ts
Labels: service:runner

#1680 [nan-192] action tracking
  packages/server/lib/controllers/sync.controller.ts
  packages/shared/lib/clients/sync.client.ts
  packages/shared/lib/utils/metrics.manager.ts
Labels: service: server

#1684 [NAN-384] cancel sync using a flag that is in memory k
  packages/jobs/lib/integration.service.ts
  packages/runner/lib/cancel.ts
  packages/runner/lib/child.ts
  packages/runner/lib/client.unit.test.ts
  packages/runner/lib/exec.ts
  packages/runner/lib/kill.ts
  packages/runner/lib/server.ts
  packages/runner/lib/state.ts
  packages/shared/lib/sdk/sync.ts
  packages/webapp/src/pages/ConnectionDetails.tsx
Labels: service: server, service: runner, service: jobs, service: persist

#1745 fix(sync): off-load data deletion
  packages/jobs/lib/app.ts
  packages/jobs/lib/crons/deleteSyncsData.ts
  packages/server/lib/controllers/flow.controller.ts
  packages/server/lib/controllers/sync.controller.ts
  packages/shared/lib/services/connection.service.ts
  packages/shared/lib/services/sync/data/records.service.ts
  packages/shared/lib/services/sync/job.service.ts
  packages/shared/lib/services/sync/orchestrator.service.ts
  packages/shared/lib/services/sync/schedule.service.ts
  packages/shared/lib/services/sync/sync.service.ts
  packages/shared/lib/utils/telemetry.ts
Labels: service: jobs
